* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 251, 255);
}

.product-header {
  display: flex;
  gap: 400px;
  margin: 20px;
}
.product-header .right-header .right-link-header {
  display: flex;
  list-style-type: none;
  gap: 20px;
}
.product-header .right-header .right-link-header li a {
  text-decoration: none;
  color: rgb(5, 5, 5);
  font-weight: bold;
  padding: 25px 10px;
}

#hero-section .product-main {
  display: flex;
  align-items: center;
  gap: 185px;
}
#hero-section .product-main .left-product-section {
  width: 384px;
}
#hero-section .product-main .left-product-section h1 {
  font-weight: bold;
}
#hero-section .product-main .left-product-section button {
  color: white;
  background-color: #0250C5;
  margin: 10px 0px;
  padding: 10px 30px;
  border-radius: 6px;
}
#hero-section .product-main .right-product-section {
  width: 350px;
}

#about-section .title-p {
  text-align: center;
  margin: 97px 0px;
}
#about-section .box :hover {
  background: linear-gradient(to right, #3b26db, #7b19cb);
}
#about-section .box .inner-box {
  width: 100%;
  padding: 27px 25px 35px;
  position: relative;
  text-align: center;
  box-shadow: 0px 30px 20px 0px rgba(0, 37, 93, 0.15);
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 15px;
}
#about-section .box .inner-box .icon {
  font-size: 55px;
  background-image: linear-gradient(55deg, #0250c5 0%, #d43f8d 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
#about-section .box .inner-box .title {
  font-size: 24px;
  line-height: 34px;
  font-family: 600px;
  margin: 9px 0px 22px;
}
#about-section .box .inner-box .text {
  margin-bottom: 0px;
}

#feature-section .title-p {
  margin-bottom: 47px;
  text-align: center;
}
#feature-section .left-feature .first-box {
  display: flex;
  gap: 20px;
}
#feature-section .left-feature .first-box .icon {
  font-size: 55px;
  margin-right: 20px;
  text-align: center;
  background-image: linear-gradient(55deg, #0250c5 0%, #d43f8d 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 60px;
}
#feature-section .left-feature .first-box .details {
  text-align: right;
}
#feature-section .left-feature .first-box .details .text {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 8px;
}

img {
  max-width: 100%;
  width: 300px;
  padding-left: 25px;
}

.right-feature {
  display: flex;
}
.right-feature .icon {
  font-size: 55px;
  margin-right: 20px;
  text-align: center;
  background-image: linear-gradient(55deg, #0250c5 0%, #d43f8d 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 60px;
}
.right-feature .details .text {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 8px;
}

#emailadress-box {
  text-align: center;
}
#emailadress-box .title-p .title {
  margin-bottom: 24px;
  margin-top: 100px;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}
#emailadress-box .title-p p {
  margin-bottom: 40px;
}/*# sourceMappingURL=style.css.map */